<div id="{{ __SELF__ }}-comments">
    <div class="dimsog-comments-wrapper">
        <div id="{{ __SELF__ }}-comments-list" class="dimsog-comments-list">
            {{ comments | raw }}
        </div>
        <div class="dimsog-comments-form-wrapper">
            <form class="dimsog-comment-form" id="{{ __SELF__ }}-comment-form" data-request="{{ __SELF__ }}::onCommentStore" data-request-success="onDimsogCommentsSendSuccess(document.querySelector('#{{ __SELF__ }}-comment-form'))">
                <input type="hidden" name="parent_id" value="">
                <div id="{{ __SELF__ }}-flash" class="app-dimsog-comment-form__flash"></div>
                <div class="app-dimsog-comment-form-answer-block"></div>
                <div class="dimsog-comment-form-field">
                    <input type="text" name="name" placeholder="{{ 'dimsog.comments::lang.components.comments.views.your_name' | trans }}" class="dimsog-comment-form-field__input" required>
                </div>
                {% if properties.email %}
                <div class="dimsog-comment-form-field">
                    <input type="email" name="email" placeholder="{{ 'dimsog.comments::lang.components.comments.views.your_email' | trans }}" class="dimsog-comment-form-field__input" required>
                </div>
                {% endif %}
                <div class="dimsog-comment-form-field">
                    <textarea name="comment" placeholder="{{ 'dimsog.comments::lang.components.comments.views.text' | trans }}" class="dimsog-comment-form-field__input" rows="6" required></textarea>
                </div>
                <div class="dimsog-comment-form-field dimsog-comment-form-field-button">
                    <button type="submit" class="dimsog-comment-form-field__btn">
                        {{ 'dimsog.comments::lang.components.comments.views.send' | trans }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
