<div id="{{ __SELF__ }}-comments" class="dimsog-comments-wrapper">
    {{ comments | raw }}
</div>
<form id="app-dimsog-comment-form" class="dimsog-comment-form" data-request="{{ __SELF__ }}::onCommentStore">
    <input type="hidden" name="parent_id" value="">
    <div id="{{ __SELF__ }}-flash"></div>
    <div id="app-dimsog-comment-form-answer-block"></div>
    <div class="dimsog-comment-form-field">
        <input type="text" name="name" placeholder="Your name" class="dimsog-comment-form-field__input" required>
    </div>
    {% if properties.email %}
    <div class="dimsog-comment-form-field">
        <input type="email" name="email" placeholder="Your email" class="dimsog-comment-form-field__input" required>
    </div>
    {% endif %}
    <div class="dimsog-comment-form-field">
        <textarea name="comment" placeholder="Text..." class="dimsog-comment-form-field__input" rows="6" required></textarea>
    </div>
    <div class="dimsog-comment-form-field dimsog-comment-form-field-button">
        <button type="submit" class="dimsog-comment-form-field__btn">
            Send
        </button>
    </div>
</form>
