{% for comment in comments[parentId] %}
<div id="comment-{{ comment.id }}" class="dimsog-comment-item">
    <div class="dimsog-comment-item-header">
        <div class="dimsog-comment-item-header__user">{{ comment.user_name }}</div>
        <div class="dimsog-comment-item-header__date">{{ comment.created_at | date(dateformat) }}</div>
    </div>
    <div>
        {{ comment.comment | nl2br }}
    </div>
    {% if tree %}
    <div class="dimsog-comment-item-answer">
        <a href="#" class="dimsog-comment-item-answer__link app-dimsog-comment-item-answer__link" data-comment-id="{{ comment.id }}" data-user-name="{{ comment.user_name }}">answer</a>
    </div>
    {% endif %}

    {% if comments[comment.id] is not empty %}
        {% partial '@list' parentId = comment.id %}
    {% endif %}
</div>
{% endfor %}
