.dimsog-comment-form .dimsog-comment-form-field {
    padding-bottom: 10px;
}

.dimsog-comment-form .dimsog-comment-form-field__input {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #9e9e9e;
    outline: none;
}

.dimsog-comment-form .dimsog-comment-form-field__btn {
    background: #3386d3;
    padding: 7px 15px;
    border: none;
    border-radius: 5px;
    color: #FFF;
}

.dimsog-comment-item .dimsog-comment-item-header {
    display: flex;
}

.dimsog-comment-item .dimsog-comment-item-header .dimsog-comment-item-header__user {
    font-weight: 600;
    padding-right: 10px;
}

.dimsog-comment-item .dimsog-comment-item {
    padding-left: 15px;
}
