.dimsog-comment-form .dimsog-comment-form-field {
    padding-bottom: 10px;
}

.dimsog-comment-form .dimsog-comment-form-success {
    background: #d1e7dd;
    border: 1px solid #badbcc;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}

.dimsog-comment-form .dimsog-comment-form-field--reply-user {
    font-weight: 600;
    color: #000;
}

.dimsog-comment-form .dimsog-comment-form-field__input {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
    outline: none;
}

.dimsog-comment-form .dimsog-comment-form-field__input:focus {
    border-color: #9d9d9d;
}

.dimsog-comment-form .dimsog-comment-form-field__btn {
    background: #3386d3;
    padding: 7px 15px;
    border: none;
    border-radius: 5px;
    color: #FFF;
}

.dimsog-comment-form .dimsog-comment-form-field__btn:hover {
    background: #2889e3;
}

.dimsog-comment-form {
    padding-top: 30px;
}

.dimsog-comment-item {
    padding-top: 10px;
    color: #000;
}

.dimsog-comment-item--deleted > .dimsog-comment-item__text {
    color: #666;
}

.dimsog-comment-item:first-child {
    padding-top: 0;
}

.dimsog-comment-item .dimsog-comment-item-answer .dimsog-comment-item-answer__link {
    text-decoration: none;
    border-bottom: 1px dashed #838384;
    color: #838384;
}

.dimsog-comment-item .dimsog-comment-item-answer .dimsog-comment-item-answer__link:hover {
    text-decoration: none;
    border-bottom-color: #317bd3;
    color: #317bd3;
}

.dimsog-comment-item .dimsog-comment-item-header {
    display: flex;
    align-items: center;
}

.dimsog-comment-item .dimsog-comment-item-header .dimsog-comment-item-header__user {
    font-weight: 600;
    padding-right: 10px;
}

.dimsog-comment-item .dimsog-comment-item-header .dimsog-comment-item-header__date {
    font-size: 13px;
    color: #8e8e8e;
}

.dimsog-comment-item .dimsog-comment-item {
    padding-left: 15px;
}
