<form class="dimsog-comment-form" data-request="{{ __SELF__ }}::onCommentStore">
    <div class="mb-4 dimsog-comment-form-field">
        <label for="{{ __SELF__ }}-name" class="dimsog-comment-form-field__label">Your name</label>
        <input type="text" name="name"  id="{{ __SELF__ }}-name" class="dimsog-comment-form-field__input form-control" required>
    </div>
    <div class="mb-4">
        <label for="{{ __SELF__ }}-email" class="dimsog-comment-form-field__label">Your email</label>
        <input type="email" name="email" id="{{ __SELF__ }}-email" class="dimsog-comment-form-field__input form-control" required>
    </div>
    <div class="mb-4">
        <label for="{{ __SELF__ }}-comment" class="dimsog-comment-form-field__label">Comment</label>
        <textarea name="comment" id="{{ __SELF__ }}-comment" class="dimsog-comment-form-field__input form-control" required></textarea>
    </div>
    <div class="mb-4">
        <button type="submit" class="dimsog-comment-form-field__btn btn btn-primary">
            Send
        </button>
    </div>
</form>
